# @copyright
# @brief
# @note

# linux
*.h    eol=lf
*.hpp  eol=lf
*.c    eol=lf
*.cpp  eol=lf
*.cxx  eol=lf
*.py   eol=lf
*.pl   eol=lf
*.sh   eol=lf
*.doxy eol=lf

# windows
*.bat       eol=crlf
*.java      eol=crlf
*.classpath eol=crlf
*.sln       eol=crlf
*.vcproj    eol=crlf

# cross platform
*.template  eol=auto
*.bzl       eol=auto
*.bazel     eol=auto
*BUILD      eol=auto
*WORKSPACE  eol=auto

# binary
*.tar      binary
*.tar.gz   binary
*.tgz      binary
*.rpm      binary
*.zip      binary
*.jar      binary
*.png      binary
*.svg      binary
*.jpeg     binary
*.jpg      binary
*.ico      binary
*.xlsx     binary
*.wav      binary
*.pdf      binary
*.lib      binary
*.dll      binary
*.exe      binary

# extra
*.blend  -delta
*.glb  -delta
*.spv  -delta

# git-lfs
.git/lfs/objects/8b/9d/8b9d1d11322b330e41068098eba32c5cb99210a6698a3c46c0e7045dbfdd2ae9 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/90/99/9099cc35fe32e35cea5ba28d75650dc65aa0c755197d2b1906287caedcd48633 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/e3/32/e332bea49274fc508f9435c6f528273ae6545a67da42a96beba694c60499194e filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-067ad586154b4035cc4302262b06b5d4469fd8ba.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-418822330a4feec29514945f17d27b7d1e66d354.pack filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-01/0.0.2/notes/snippets/PlatoonController/untitled/results/bard.h5 filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-02/capture/Finale[[:space:]]-[[:space:]][ride_no1_v5.musx][[:space:]]2025-06-27[[:space:]]17-30-16.mp4 filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-03/0.0.2/notes/Presentations/AVSIM_presentation/FinalPresentation_AVSIM.pptx filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-03/0.0.2/notes/snippets/PlatoonController/untitled/results/bard.h5 filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-03/0.0.2/notes/snippets/PlatoonController/untitled/unet.hdf5 filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-04/0.0.2/notes/Presentations/AVSIM_presentation/FinalPresentation_AVSIM.pptx filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-04/0.0.2/notes/snippets/PlatoonController/untitled/results/bard.h5 filter=lfs diff=lfs merge=lfs -text
archives/archive_docs-04/0.0.2/notes/snippets/PlatoonController/untitled/unet.hdf5 filter=lfs diff=lfs merge=lfs -text
docs/0.0.2/notes/Presentations/AVSIM_presentation/FinalPresentation_AVSIM.pptx filter=lfs diff=lfs merge=lfs -text
docs/0.0.2/notes/snippets/PlatoonController/untitled/results/bard.h5 filter=lfs diff=lfs merge=lfs -text
docs/0.0.2/notes/snippets/PlatoonController/untitled/unet.hdf5 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/capture/Finale[[:space:]]-[[:space:]]\[ride_no1_v5.musx\][[:space:]]2025-06-27[[:space:]]17-30-16.mp4 filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-bin/external/rules_java+/toolchains/platformclasspath.jar filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-out/x64_windows-fastbuild/bin/external/rules_java+/toolchains/platformclasspath.jar filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-out/x64_windows-opt-exec-ST-d57f47055a04/bin/external/rules_java+/toolchains/platformclasspath.jar filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-test0/bazel-out/x64_windows-fastbuild/bin/external/rules_java+/toolchains/platformclasspath.jar filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-test0/bazel-out/x64_windows-opt-exec-ST-d57f47055a04/bin/external/rules_java+/toolchains/platformclasspath.jar filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-test0/external/rules_java++toolchains+local_jdk/lib/modules filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-test0/external/rules_java++toolchains+remotejdk11_win/lib/modules filter=lfs diff=lfs merge=lfs -text
/archives/archive_docs-02/tests/java/test0/bazel-test0/external/rules_java++toolchains+remotejdk21_win/lib/modules filter=lfs diff=lfs merge=lfs -text
