*.pptx filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
/docs/diagram/Phambili.drawio filter=lfs diff=lfs merge=lfs -text
/docs/diagram/architecture_diagram.drawio filter=lfs diff=lfs merge=lfs -text
/docs/diagram/portfolios_diagrams.drawio filter=lfs diff=lfs merge=lfs -text
/docs/diagram/.$architecture_diagram.drawio.dtmp filter=lfs diff=lfs merge=lfs -text
/v.0.0.0/docs/diagram/.$architecture_diagram.drawio.dtmp filter=lfs diff=lfs merge=lfs -text
/v.0.0.0/docs/diagram/Phambili.drawio filter=lfs diff=lfs merge=lfs -text
/v.0.0.0/docs/diagram/architecture_diagram.drawio filter=lfs diff=lfs merge=lfs -text
/v.0.0.0/docs/diagram/portfolios_diagrams.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.0/docs/diagram/.$architecture_diagram.drawio.dtmp filter=lfs diff=lfs merge=lfs -text
/0.0.0/docs/diagram/Phambili.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.0/docs/diagram/architecture_diagram.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.0/docs/diagram/portfolios_diagrams.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.1/workspaces/eatondo/solution-projects.md filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/FORM-3-Software-Development-and-Publishing-Agreement.doc filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/GovernancePlanTemplate.docx filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/ProgramCharterTemplate.docx filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/SOFTWARE[[:space:]]REQUIREMENTS[[:space:]]SPECIFICATION.doc filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/concept_of_operations_template.doc filter=lfs diff=lfs merge=lfs -text
/0.0.1/doc_repo/bb/roles-and-responsibilities-template.docx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/GameEngine.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/a/GameEngine.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/a/Phambili.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/a/architecture_diagram.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/a/portfolios_diagrams.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/EMS.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/Phambili.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/Phambili2.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/architecture_diagram.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/portfolios.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/diagrams/b/portfolios_diagrams.drawio filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/M4H11-Policy-Sampler_Board-Member-Agreements.doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/concept_of_operations_template(1).doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/concept_of_operations_template(2).doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/firm/6-higher-character_orig.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/firm/African[[:space:]]Board[[:space:]]Game[[:space:]]Sagas.docx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/firm/Documents/Database1.accdb filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/ic-3-year-strategic-plan-template-8658_powerpoint.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/ic-5-year-strategic-business-plan-presentation-template-example-8658_powerpoint.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/docs/ic-it-strategic-plan-template-8658.xlsx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/publications/The[[:space:]]Comprehensive[[:space:]]LaTeX[[:space:]]Symbol[[:space:]]List/comprehensive.pdf filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/Blender/terrain.blend filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Audio/mtb_mx_draft1.mp3 filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Audio/mtb_mx_sketch2.mp3 filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/bot[[:space:]]art/Render_Bot.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/bot[[:space:]]art/p1.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/bot[[:space:]]art/p3.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/bot[[:space:]]art/p5.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/bot[[:space:]]art/p6.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/character[[:space:]]art/p4.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/civil[[:space:]]structure[[:space:]]art/p2.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/vehicle[[:space:]]art/p2.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/vehicle[[:space:]]art/p7.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/weapon[[:space:]]art/p1.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/weapon[[:space:]]art/p3.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/Concept[[:space:]]Art/weapon[[:space:]]art/p4.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/UI/PlayerHUD_outline001.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/UI/mainMenu_001.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/iri/Content/Visuals/UI/mainMenu_002.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/FORM-3-Software-Development-and-Publishing-Agreement.doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/GovernancePlanTemplate.docx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/ProgramCharterTemplate.docx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/SOFTWARE[[:space:]]REQUIREMENTS[[:space:]]SPECIFICATION.doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/concept_of_operations_template.doc filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/stories/writings_in_progress/business_registry/temp/roles-and-responsibilities-template.docx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/works/OVulkan.exe filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVCB_Mobility_.pdf filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/FinalPresentation_AVSIM.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p1.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p10.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p11.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p13.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p15.gif filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p3.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p5.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p7.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/AVSIM_presentation/images/p9.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/Presentation[[:space:]]2.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/5-Figure1-1.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/ConnectedCar750x300.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/FIgure-1.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/System-identification-procedure.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/VANET-Architecture-8.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/image-3.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Figues/sn-birdsH.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Platooning/Controller/PAlgorithmHL.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Platooning/DMPC/PAlgorithmHL.png filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Presentation[[:space:]]V.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/Protocol/testbed[[:space:]]Diagram.PNG filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation[[:space:]]V/controller[[:space:]]ref[[:space:]]pics/MPC[[:space:]]controller.jpg filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation/Presentation_I-DRAFT.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation/Presentation_IV.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation_3.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation_4[[:space:]]1.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/Presentations/presentation_4.pptx filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/PlatoonController/MATLAB/AutogenCpp/PlatoonController_ert_rtw/codedescriptor.dmr filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/PlatoonController/MATLAB/AutogenCpp/slprj/ert/_sharedutils/shared_file.dmr filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/PlatoonController/PlatoonController.pdf filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/PlatoonController/untitled/results/bard.h5 filter=lfs diff=lfs merge=lfs -text
/0.0.2/notes/snippets/PlatoonController/untitled/unet.hdf5 filter=lfs diff=lfs merge=lfs -text
